<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- 1E. DISPLAYING USERNAME WITH COOKIE-PARSER -->
    <!-- 2B. LOGOUT AND CLEAR COOKIES -->
    <!-- 4C. we're no longer going to set a username cookie; instead, we will set only a user_id cookie -->
    <!-- 4E. Update the _header partial to show the email property from the user object instead of the username. -->
    <!-- 6B. Remove login form (after creating Login.ejs), and display a register link -->
    <% if(user_id) { %> 
      <div>
        <form class="form-inline justify-content-center" method="POST" action="/logout">
          Logged in as: <%= user.email %>
          <button type="submit" class="btn btn-danger btn-md">Logout</button>
        </form>
      
      </div>
      <% }else{ %>
        <form class="form-inline" action="/login" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary" >Log In</button>
          </div>
        </form>
        <form class="form-inline justify-content-right" action="/register" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary" >Register</button>
          </div>
        </form>
      <% } %>
  </nav>
</header>
